.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
    color: rgb(0, 104, 74);
    font-family: "Euclid Circular A", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 3px solid rgb(0, 104, 74);
  }
  
  .sidebar__headerRight {
    display: flex;
    align-items: center;
  }

  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .profile-container {
    display: flex;
    align-items: center;
    margin-left: 1%;
    gap: 1rem;
  }
  
  